.vscode/
.idea/
debug/*
！debug/*.py
datasets/*
# 忽略所有 Python 缓存文件
*.pyc
__pycache__/
*.pyo

**/*.avi
**/*.jpg
**/*.png

**/saved/

**/*.pyc
**/__pycache__/
**/*.pyo

# Ignore ROS bag and zip files
**/*.bag
**/*.zip

# Ignore ONNX model files
**/*.onnx

# Ignore some local example folders (not uploaded)
examples/diff_baseline/
examples/multi_task_IL/
examples/sim_to_sim/
